
.ex-1-square:hover {
    background: red;
    transition: background 5s;
}

.ex-2-square:active {
    transition: 5s;
    width: 3000%;
}

.ex-3-square {
    border-radius: 0%;
    transition: 5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}
